.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
body {
	background-color #4169E1;
}
h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}

p {
	font-size: 24px;
	margin-bottom: 20px;
}

a {
	display: inline-block;
	font-size: 24px;
	padding: 10px 20px;
	background-color: #333;
	color: #FFD700;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
}

a:hover {
	background-color: #8B008B;
}