body {
  font-family: Stencil, sans-serif;
  background-color: 
}
body.quote1 {
	background-color: #F5DEB3;
}

body.quote2 {
	background-color: #ADD8E6;
}

body.quote3 {
	background-color: #D8BFD8;
}

body.quote4 {
	background-color: #FFFACD;
}

body.quote5 {
	background-color: #FFD700;
}

nav {
	background-color: #9932CC;
	color: #fff;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

nav a:hover {
	color: #FFFF00 ;
}

h1 {
	text-align: center;
	font-size: 2rem;
	margin-top: 50px;
}

p {
	text-align: center;
	font-size: 1.5rem;
	margin: 50px 0;
}

img {
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
}